 body {
     margin: 0;
     padding: 0;
     font: Arial, sans-serif;
     background-color: #EFECE3
 }

 .auth-links-container {
     display: flex;
     gap: 5px;
     cursor: pointer;
 }

 .top-banner-baground {
     background-color: #184880;
     border-radius: 0px 0px 60% 60%;
     height: 400px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: left;
 }

 .top-banner-container {
     margin-bottom: 50px;
     align-items: center;
     display: flex;
 }

 .banner {
     border-radius: 20px;
     width: 780px;
 }
 .banner:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width:800px ;
 }
 .heading{
    color:#0C2B4E; 
 }
 .heading:hover{
    color: #0a89f1 ;
 }
 .heading-Welcome{
    color:#0C2B4E;
    text-align: center;
 }
.heading-Welcome:hover{
    color: #0a89f1 ;
 }
 
 /* INFORMATION SECTION */
.info-section {
    width: 85%;
    padding: 20px 10%;
    background-color: #f5f2ea;

}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
        background: #AAB8C3;
    border: 2px solid rgb(253, 246, 246);
    padding: 10px ;
     border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.info-text {
    flex: 1;
    min-width: 200px;
}

.info-text h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.info-text p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

.info-text ul {
    margin-top: 15px;
}

.info-text ul li {
    font-size: 18px;
    margin-bottom: 8px;
}

.info-btn {
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #1A3D64;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
.info-btn:hover{
     background-color: #61ae4f;
        transform: scale(1.05);
     
}
/* RIGHT SIDE IMAGE */
.info-image img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}
.info-image img:hover {
    box-shadow: 0 10px 10px #1A3D64;
}

@media (max-width: 768px) {
    .info-container {
        flex-direction: column;
        text-align: center;
    }
    .banner {
     border-radius: 20px;
     width: 600px;
 } .banner:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width:600px ;
 }

    .info-image img {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .info-text h2 {
        font-size: 24px;
    }
    .banner {
     border-radius: 20px;
     width: 400px;
 } .banner:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width:400px ;
 }

    .info-text p,
    .info-text ul li {
        font-size: 16px;
    }

    .info-btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}